/// ╭─────────────────────────────────────────────────────────────────────────╮
/// │ CSS RESET:                                                              │
/// ╰─────────────────────────────────────────────────────────────────────────╯
/// Browsers has defaults Style for each element. => (user agent stylesheet)
/// This Style Can Change from browser to another
/// So We Need To Correct the Style in all browsers
/// I Took What i Think It's Important From normalize.css, minireset.css
/// and re write in scss way.
/// @author farah abderrazzak aka ushen;
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ BOX SIZING:                                                             │
//  ╰─────────────────────────────────────────────────────────────────────────╯
html {
  line-height: 1.15;
  box-sizing: border-box;
}
* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ HEADING:                                                                │
//  ╰─────────────────────────────────────────────────────────────────────────╯
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ BLOCKS:                                                                 │
//  ╰─────────────────────────────────────────────────────────────────────────╯
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ BOLD:                                                                   │
//  ╰─────────────────────────────────────────────────────────────────────────╯
b,
strong {
  font-weight: bolder;
}
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ SMALL:                                                                  │
//  ╰─────────────────────────────────────────────────────────────────────────╯
small {
  font-size: 80%;
}
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ LIST:                                                                   │
//  ╰─────────────────────────────────────────────────────────────────────────╯
ul {
  list-style: none;
}
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ FORM:                                                                   │
//  ╰─────────────────────────────────────────────────────────────────────────╯
button,
input,
optgroup,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ OVERFLOW:                                                               │
//  ╰─────────────────────────────────────────────────────────────────────────╯
button,
input {
  overflow: visible;
}
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ OVERFLOW:                                                               │
//  ╰─────────────────────────────────────────────────────────────────────────╯
button,
select {
  text-transform: none;
}

//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ MEDIA                                                                   │
//  ╰─────────────────────────────────────────────────────────────────────────╯
img,
video {
  height: auto;
  max-width: 100%;
}
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ IFRAME:                                                                 │
//  ╰─────────────────────────────────────────────────────────────────────────╯
iframe {
  border: 0;
}
//  ╭─────────────────────────────────────────────────────────────────────────╮
//  │ TABLE:                                                                  │
//  ╰─────────────────────────────────────────────────────────────────────────╯
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
