$fs-xl: var(--fs-xl);
$fs-600: var(--fs-600);
$fs-500: var(--fs-500);
$fs-400: var(--fs-400);

// Color Palete From Bootstrap
$primary: #0d6efd;
$secondry: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
